<% content_for :banner_class do %>
  class="tall"
<% end %>

<div id="callout">    
  <div class="first">
    <h2>Read books and you will be Smart!</h2>
    <p>Search through the FloatingBooks library or add a new book for others to enjoy. Thanks for helping others become smart, too.</p>
  </div>
  
  <div >
    <h2>MANAGE <span>MY ACCOUNT</span></h2>
    <p>Add a book, subtract a book, check out something new or return a book so someone else can enjoy. </p>
  </div>

  <div class="user_nav">
    <h2>LOG <span>ME IN</span></h2>
    <%= link_to "Login with your g5searchmarketing email.", '/users/auth/google_apps' %>
  </div>
</div>
